<!DOCTYPE html>
<html lang="en">

<head>
  <title>Hackathon Demo</title>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="">

  <!-- Google Font -->
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,600,700%7COpen+Sans:400,400i,700%7CNoto+Serif:400i' rel='stylesheet'>

  <!-- css -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/style.css" />

  <!-- SCRIPTS -->
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <script type="text/javascript" src="js/socketControl.js"></script>

</head>
<body>
<div id="previews"></div>
<div id="alert" class="alert alert-info"><b>LOADING</b></div>
<div class="container">
  <div class="camera-content">
    <div id="cameras">
    </div>
  </div>
  <div id="snap"></div>
  <!-- stubbed for s3 upload -->
  <div id="intruder" class="data-box"></div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="/js/download.js"></script>
</body>
</html>
